
<div class="wrapper">
  <center> <a href="/"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div id="container">
  <div id="main" role="main">
    <header>
    <h1>{{ page.title }}</h1>
    </header>
    <nav>
    <span><a title="about" class="" href="{{ site.url }}/about/">about</a></span>
    <span><a title="publication" class="" href="{{ site.url }}/publication/">publication</a></span>
    <span><a title="guestbook" class="" href="{{ site.url }}/guestbook/">guestbook</a></span>
    <span><a title="vitae" class="" href="{{ site.url }}/vitae/">vitae</a></span>
    <span><a title="categories" class="" href="{{ site.url }}/categories/">categories</a></span>
    <span><a title="tags" class="" href="{{ site.url }}/tags/">tags</a></span>
    <span><a title="links" class="" href="{{ site.url }}/links/">links</a></span>
    <span><a title="subscribe by RSS" class="" href="{{ site.url }}/feed/">subscribe</a></span>
    </nav>
    <article class="content">
    {{ content }}
    </article>
  </div>
</div>
