---
layout: page
title: {{ post.categories }}
---

<section class="post-list">
  <div class="container">
    {% for post in site.posts %}
    {% unless post.draft %}
    {% for cat in post.categories %}
    {% if cat == page.category %}
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date: "%Y-%m-%d" }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
      </article>
    {% endif %}
    {% endfor %}
    {% endunless %}
    {% endfor %}
  </div>

</section>
